<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} | Url Shortener</title>
    {% else %}
        <title>Url Shortener</title>
    {% endif %}
</head>
<body>
<h1>Welcome to Url Shortener</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if current_user.is_authenticated %}
    <p>Salam {{ current_user.username }}</p>
    <a href="{{ url_for('logout') }}">Logout</a>

    <br>
    <a href="{{ url_for('create_new_link') }}">Create a new link</a>
    <br>
    <br>

    {% for link in links.items %}
        <a href="{{ url_for('short_url', slug=link[2]) }}">{{ link[1] }} - {{ link[4] }}</a>
        <br>
    {% endfor %}
    
    <br>
    <br>
    
    {% for page in links.iter_pages() %}
        {% if page %}
            {% if page != links.page %}
                <a href="{{ url_for('index', page=page) }}">{{ page }}</a>
            {% else %}
                <strong>{{ page }}</strong>
            {% endif %}
        {% else %}
            <span class=ellipsis>…</span>
        {% endif %}
    {% endfor %}

{% else %}
    <a href="{{ url_for('login') }}">Login</a>
    <br>
    <a href="{{ url_for('signup') }}">Sign Up</a>
{% endif %}
</body>
</html>