{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <!--Show redirect links-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Link</th>
                <th scope="col">Short Link</th>
                <th scope="col">Visits</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links.items %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ link[1] }}</td>
                <td><a href="{{ url_for('short_url', slug=link[2]) }}">{{ url_for('short_url', slug=link[2]) }}</a></td>
                <td>{{ link[4] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <!--Pagination-->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <!--Previous-->
            {% if links.has_prev %}
                <li class="page-item">
            {% else %}
                <li class="page-item disabled">
            {% endif %}
            <a class="page-link" href="{{ url_for('links', page=links.page - 1) }}">Previous</a></li>
            <!--Pages-->
            {% for page in links.iter_pages(right_current=3) %}
                {% if page %}
                    {% if page != links.page %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('links', page=page) }}">{{ page }}</a></li>
                    {% else %}
                        <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                    {% endif %}
                {% else %}
                    <li class="page-item"><span class="page-link">...</span></li>
                {% endif %}
            {% endfor %}
            <!--Next-->
            {% if links.has_next %}
                <li class="page-item">
            {% else %}
                <li class="page-item disabled">
            {% endif %}
            <a class="page-link" href="{{ url_for('links', page=links.page + 1) }}">Next</a></li>
        </ul>
    </nav>
{% endblock %}
<!--Remove footer-->
{% block footer %}{% endblock %}
