{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1 class="mb-3">Create New Link</h1>
    <!--Form-->
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <!--Label-->
            {{ form.redirect_url.label(class="form-label") }}
            <!--Field-->
            {% if form.redirect_url.errors %}
                {{ form.redirect_url(class='form-control is-invalid', placeholder="https://www.example.com") }}
            {% else %}
                {{ form.redirect_url(class='form-control', placeholder="https://www.example.com") }}
            {% endif %}
            <!--Errors-->
            {% for error in form.redirect_url.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <!--Submit button-->
        {{ form.submit(class="btn btn-primary", role="button") }}
    </form>
{% endblock %}
